
.underline {
  text-decoration: underline;
}

body {
  font-family: "Verdana", Geneva, sans-serif;
  text-align: justify;
  text-justify: auto;
  margin: 0 auto;
  width: 600 px;
  padding: 0 20px 20px 20px;
}
